.home{
    img{
        border-radius: 50%;
        width: 20em;
        @extend .neomorph--light;
        left: 0;
        right: 0;
        top: 100%;
        transform: scale(1);
        animation: pulse 2s infinite;
    }
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}