.skill {
  @extend .neomorph;
  border-radius: 50%;
  &--detail{
    @extend .neomorph--light;
    border-radius: inherit;
  }
}
.CircularProgressbar-path {
  stroke: $color_primary_alt!important;
}
.CircularProgressbar-trail {
  stroke: transparent!important;
}
.CircularProgressbar-text {
  fill: $color_primary!important;
}
// .CircularProgressbar-background {
//   fill: green!important;
// }
