
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

//colors
$color_black: #262626;
$color_white: #f3f3f3;

$color_primary:$color_black;

$font_display: 'Righteous';

//neomorph
$shadow_dark: adjust-color($color: $color_white, $lightness: -25%, $alpha: 0.6);
$shadow_ligh: adjust-color($color: $color_white, $lightness: 25%, $alpha: 0.6);

$transition_delay: .25s;